#[UCI Heart Disease Data](https://www.kaggle.com/datasets/redwankarimsony/heart-disease-data)(Kaggle) - klasyfikacja choroby serca

In [2]:
import kagglehub
import os
import pandas as pd

path = kagglehub.dataset_download("redwankarimsony/heart-disease-data")

print("Path to dataset files:", path)
print(os.listdir(path))

df = pd.read_csv(os.path.join(path, "heart_disease_uci.csv"))

Using Colab cache for faster access to the 'heart-disease-data' dataset.
Path to dataset files: /kaggle/input/heart-disease-data
['heart_disease_uci.csv']

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  861 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       830 non-null    object
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  ca        309 non-null    float64
 14  thal      434 non-null    object
 15  num       920 non-null    int64
dtypes: float64(5), int64(3), object(8)
memory usage: 115.1+ KB

#Wymiary
Rekordy: 920
Kolumny: 16 cech

#Opis cech:

###Numeryczne (int64 / float64): 8 kolumn

id â€“ unikalny identyfikator pacjenta

age â€“ wiek pacjenta

trestbps â€“ ciÅ›nienie krwi w spoczynku

chol â€“ cholesterol w mg/dl

thalach â€“ maksymalne tÄ™tno osiÄ…gniÄ™te

oldpeak â€“ ST depression wywoÅ‚ane wysiÅ‚kiem

ca â€“ liczba naczyÅ„ gÅ‚Ã³wnych pokolorowanych fluoroskopowo

num â€“ przewidywana etykieta choroby serca


###Kategoryczne / obiektowe (object): 8 kolumn

sex â€“ pÅ‚eÄ‡

dataset â€“ pochodzenie badania

cp â€“ typ bÃ³lu w klatce piersiowej

fbs â€“ cukier na czczo > 120 mg/dl (True/False)

restecg â€“ wynik EKG w spoczynku

exang â€“ dÅ‚awica wywoÅ‚ana wysiÅ‚kiem

slope â€“ nachylenie ST segment

thal â€“ typ defektu (normal, fixed defect, reversible defect)

###BrakujÄ…ce dane

trestbps â€“ 861/920 â†’ ok. 6.4% brakÃ³w

chol â€“ 890/920 â†’ ok. 3.3% brakÃ³w

fbs â€“ 830/920 â†’ ok. 9.8% brakÃ³w

slope â€“ 611/920 â†’ ok. 33.5% brakÃ³w

ca â€“ 309/920 â†’ ok. 66.4% brakÃ³w

thal â€“ 434/920 â†’ ok. 52.8% brakÃ³w

In [4]:
n_rows, n_cols = df.shape
print(f"\nLiczba rekordÃ³w: {n_rows}")
print(f"Liczba cech (kolumn): {n_cols}")

print("\n--- PrzykÅ‚adowe wiersze ---")
print(df.head())

print("\n--- Statystyki opisowe ---")
print(df.describe())

Liczba rekordÃ³w: 920
Liczba cech (kolumn): 16

--- PrzykÅ‚adowe wiersze ---
   id  age     sex    dataset               cp  trestbps   chol    fbs  \
0   1   63    Male  Cleveland   typical angina     145.0  233.0   True
1   2   67    Male  Cleveland     asymptomatic     160.0  286.0  False
2   3   67    Male  Cleveland     asymptomatic     120.0  229.0  False
3   4   37    Male  Cleveland      non-anginal     130.0  250.0  False
4   5   41  Female  Cleveland  atypical angina     130.0  204.0  False

          restecg  thalch  exang  oldpeak        slope   ca  \
0  lv hypertrophy   150.0  False      2.3  downsloping  0.0
1  lv hypertrophy   108.0   True      1.5         flat  3.0
2  lv hypertrophy   129.0   True      2.6         flat  2.0
3          normal   187.0  False      3.5  downsloping  0.0
4  lv hypertrophy   172.0  False      1.4    upsloping  0.0

                thal  num
0       fixed defect    0
1             normal    2
2  reversable defect    1
3             normal    0
4             normal    0

--- Statystyki opisowe ---
               id         age    trestbps        chol      thalch     oldpeak  \
count  920.000000  920.000000  861.000000  890.000000  865.000000  858.000000
mean   460.500000   53.510870  132.132404  199.130337  137.545665    0.878788
std    265.725422    9.424685   19.066070  110.780810   25.926276    1.091226
min      1.000000   28.000000    0.000000    0.000000   60.000000   -2.600000
25%    230.750000   47.000000  120.000000  175.000000  120.000000    0.000000
50%    460.500000   54.000000  130.000000  223.000000  140.000000    0.500000
75%    690.250000   60.000000  140.000000  268.000000  157.000000    1.500000
max    920.000000   77.000000  200.000000  603.000000  202.000000    6.200000

               ca         num
count  309.000000  920.000000
mean     0.676375    0.995652
std      0.935653    1.142693
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    1.000000
75%      1.000000    2.000000
max      3.000000    4.000000

In [5]:
import numpy as np

num_cols = df.select_dtypes(include=[np.number]).columns.tolist()
cat_cols = df.select_dtypes(include=['object', 'category']).columns.tolist()

target_col = 'num' if 'num' in df.columns else None
if target_col is not None:
    if target_col in num_cols:
        num_cols.remove(target_col)
    if target_col in cat_cols:
        cat_cols.remove(target_col)

print("num_cols:", num_cols)
print("cat_cols:", cat_cols)

num_cols: ['id', 'age', 'trestbps', 'chol', 'thalch', 'oldpeak', 'ca']
cat_cols: ['sex', 'dataset', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'thal']

In [6]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer, KNNImputer

num_df = df[num_cols].copy()
cat_df = df[cat_cols].copy()

half = len(num_cols) // 2
num_easy = num_cols[:half]
num_hard = num_cols[half:]

simple_imputer = SimpleImputer(strategy='mean')
num_easy_imputed = pd.DataFrame(simple_imputer.fit_transform(df[num_easy]), columns=num_easy)

knn_imputer = KNNImputer(n_neighbors=5)
num_hard_imputed = pd.DataFrame(knn_imputer.fit_transform(df[num_hard]), columns=num_hard)

num_imputed = pd.concat([num_easy_imputed, num_hard_imputed], axis=1)

cat_imputer = SimpleImputer(strategy='most_frequent')
cat_imputed = pd.DataFrame(cat_imputer.fit_transform(cat_df), columns=cat_cols)

df_imputed = pd.concat([num_imputed, cat_imputed], axis=1)

print("âœ… Dane uzupeÅ‚nione:")
print(df_imputed.info())

âœ… Dane uzupeÅ‚nione:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    float64
 1   age       920 non-null    float64
 2   trestbps  920 non-null    float64
 3   chol      920 non-null    float64
 4   thalch    920 non-null    float64
 5   oldpeak   920 non-null    float64
 6   ca        920 non-null    float64
 7   sex       920 non-null    object
 8   dataset   920 non-null    object
 9   cp        920 non-null    object
 10  fbs       920 non-null    object
 11  restecg   920 non-null    object
 12  exang     920 non-null    object
 13  slope     920 non-null    object
 14  thal      920 non-null    object
dtypes: float64(7), object(8)
memory usage: 107.9+ KB
None

In [7]:
from sklearn.preprocessing import OrdinalEncoder

df_encoded = df_imputed.copy()

ordinal_features = {
    'cp': ['asymptomatic', 'non-anginal', 'atypical angina', 'typical angina'],
    'restecg': ['normal', 'st-t abnormality', 'lv hypertrophy'],
    'slope': ['upsloping', 'flat', 'downsloping'],
    'thal': ['normal', 'reversable defect', 'fixed defect']
}

encoder = OrdinalEncoder(categories=[ordinal_features[col] for col in ordinal_features])
df_encoded[list(ordinal_features.keys())] = encoder.fit_transform(df_encoded[list(ordinal_features.keys())])

nominal_features = ['sex', 'dataset', 'fbs', 'exang']
df_encoded = pd.get_dummies(df_encoded, columns=nominal_features, drop_first=True)

print("âœ… Wszystkie kolumny zakodowane numerycznie:")
print(df_encoded.info())
df_encoded.head()

âœ… Wszystkie kolumny zakodowane numerycznie:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     920 non-null    float64
 1   age                    920 non-null    float64
 2   trestbps               920 non-null    float64
 3   chol                   920 non-null    float64
 4   thalch                 920 non-null    float64
 5   oldpeak                920 non-null    float64
 6   ca                     920 non-null    float64
 7   cp                     920 non-null    float64
 8   restecg                920 non-null    float64
 9   slope                  920 non-null    float64
 10  thal                   920 non-null    float64
 11  sex_Male               920 non-null    bool
 12  dataset_Hungary        920 non-null    bool
 13  dataset_Switzerland    920 non-null    bool
 14  dataset_VA Long Beach  920 non-null    bool
 15  fbs_True               920 non-null    bool
 16  exang_True             920 non-null    bool
dtypes: bool(6), float64(11)
memory usage: 84.6 KB
None

,id,age,trestbps,chol,thalch,oldpeak,ca,cp,restecg,slope,thal,sex_Male,dataset_Hungary,dataset_Switzerland,dataset_VA Long Beach,fbs_True,exang_True
0,1.0,63.0,145.0,233.0,150.0,2.3,0.0,3.0,2.0,2.0,2.0,True,False,False,False,True,False
1,2.0,67.0,160.0,286.0,108.0,1.5,3.0,0.0,2.0,1.0,0.0,True,False,False,False,False,True
2,3.0,67.0,120.0,229.0,129.0,2.6,2.0,0.0,2.0,1.0,1.0,True,False,False,False,False,True
3,4.0,37.0,130.0,250.0,187.0,3.5,0.0,1.0,0.0,2.0,0.0,True,False,False,False,False,False
4,5.0,41.0,130.0,204.0,172.0,1.4,0.0,2.0,2.0,0.0,0.0,False,False,False,False,False,False

## ðŸ› ï¸ Przetwarzanie danych â€” imputacja i kodowanie

1. **Imputacja brakÃ³w**  
   - Dane numeryczne podzielono na dwa podzbiory:
     - PodzbiÃ³r A: imputacja prostÄ… metodÄ… (Å›rednia)  
     - PodzbiÃ³r B: imputacja bardziej zaawansowanÄ… metodÄ… (KNNImputer)  
   - Dla danych kategorycznych zastosowano imputacjÄ™ wartoÅ›ciami najczÄ™stszymi (`most_frequent`).

2. **Kodowanie zmiennych kategorycznych**  
   - Zmienne z naturalnym porzÄ…dkiem (np. `cp`, `restecg`, `slope`, `thal`) zakodowano za pomocÄ… **OrdinalEncoder**, by zachowaÄ‡ sens kolejnoÅ›ci.  
   - PozostaÅ‚e zmienne nominalne (np. `sex`, `dataset`, `fbs`, `exang`) zakodowano metodÄ… **One-Hot Encoding**, usuwajÄ…c jednÄ… referencyjnÄ… kategoriÄ™ (drop_first=True), aby uniknÄ…Ä‡ wspÃ³Å‚liniowoÅ›ci.

Po tych operacjach wszystkie cechy majÄ… typ numeryczny (float lub bool), bez brakujÄ…cych wartoÅ›ci â€” dane sÄ… gotowe do analizy statystycznej i modelowania.

### ðŸ”„ Zmodyfikowane i zakodowane cechy

Podczas przygotowania danych kilka kolumn kategorycznych zostaÅ‚o przeksztaÅ‚conych na formÄ™ numerycznÄ…:

1. **`sex`** â†’ zastÄ…piono przez kolumnÄ™ binarnÄ… `sex_Male`  
   - WartoÅ›Ä‡ `True` oznacza mÄ™Å¼czyznÄ™, `False` â€“ kobietÄ™.  

2. **`dataset`** â†’ zastÄ…piono trzema kolumnami logicznymi:  
   - `dataset_Hungary`, `dataset_Switzerland`, `dataset_VA Long Beach`  
   - Brak wartoÅ›ci w tych kolumnach (wszystkie `False`) oznacza dane z **Cleveland** (usuniÄ™ta referencja po One-Hot Encoding).

3. **`cp` (chest pain type)** â†’ zakodowano liczbowo metodÄ… **OrdinalEncoder**:  
   - 0 â€“ typical angina  
   - 1 â€“ atypical angina  
   - 2 â€“ non-anginal  
   - 3 â€“ asymptomatic  

4. **`restecg`** â†’ zakodowano liczbowo metodÄ… **OrdinalEncoder**:  
   - 0 â€“ normal  
   - 1 â€“ stt abnormality  
   - 2 â€“ lv hypertrophy  

5. **`slope`** â†’ zakodowano liczbowo metodÄ… **OrdinalEncoder**:  
   - 0 â€“ upsloping  
   - 1 â€“ flat  
   - 2 â€“ downsloping  

6. **`thal`** â†’ zakodowano liczbowo metodÄ… **OrdinalEncoder**:  
   - 0 â€“ normal  
   - 1 â€“ fixed defect  
   - 2 â€“ reversible defect  

7. **`fbs` i `exang`** â†’ zastÄ…pione przez kolumny binarne (`fbs_True`, `exang_True`)  
   - WartoÅ›Ä‡ `True` oznacza odpowiednio: cukier na czczo >120 mg/dl / wystÄ…pienie dÅ‚awicy przy wysiÅ‚ku.

---

Wszystkie pozostaÅ‚e kolumny (`age`, `trestbps`, `chol`, `thalch`, `oldpeak`, `ca`) zachowaÅ‚y oryginalnÄ… postaÄ‡ liczbowÄ… (float), jedynie uzupeÅ‚niono w nich brakujÄ…ce wartoÅ›ci.

In [17]:
display(df_encoded.describe().T)

          count        mean         std   min     25%    50%     75%    max
id        920.0  460.500000  265.725422   1.0  230.75  460.5  690.25  920.0
age       920.0   53.510870    9.424685  28.0   47.00   54.0   60.00   77.0
trestbps  920.0  132.132404   18.443895   0.0  120.00  130.0  140.00  200.0
chol      920.0  198.970642  109.467013   0.0  175.00  223.0  267.00  603.0
thalch    920.0  137.741997   25.359888  60.0  120.00  140.0  157.00  202.0
oldpeak   920.0    0.877083    1.062098  -2.6    0.00    0.6    1.50    6.2
ca        920.0    0.766553    0.674078   0.0    0.20    0.8    1.20    3.0
cp        920.0    0.750000    0.930969   0.0    0.00    0.0    1.00    3.0
restecg   920.0    0.603261    0.805443   0.0    0.00    0.0    1.00    2.0
slope     920.0    0.847826    0.516007   0.0    1.00    1.0    1.00    2.0
thal      920.0    0.308696    0.560128   0.0    0.00    0.0    1.00    2.0

In [24]:
# 2ï¸âƒ£ RozkÅ‚ad wieku pacjentÃ³w + Å›redni cholesterol w tych przedziaÅ‚ach
print("\n=== RozkÅ‚ad wieku pacjentÃ³w ===")
age_bins = pd.cut(df_encoded['age'], bins=5)
age_distribution = df_encoded['age'].value_counts(bins=5).sort_index()

print("Liczba pacjentÃ³w w przedziaÅ‚ach wiekowych:")
print(age_distribution)

print("\nÅšredni cholesterol (chol) w tych samych przedziaÅ‚ach wiekowych:")
print(df_encoded.groupby(age_bins)['chol'].mean().round(2))

=== RozkÅ‚ad wieku pacjentÃ³w ===
Liczba pacjentÃ³w w przedziaÅ‚ach wiekowych:
(27.95, 37.8]     49
(37.8, 47.6]     190
(47.6, 57.4]     350
(57.4, 67.2]     277
(67.2, 77.0]      54
Name: count, dtype: int64

Åšredni cholesterol (chol) w tych samych przedziaÅ‚ach wiekowych:
age
(27.951, 37.8]    211.62
(37.8, 47.6]      211.81
(47.6, 57.4]      203.94
(57.4, 67.2]      186.34
(67.2, 77.0]      174.87
Name: chol, dtype: float64

/tmp/ipython-input-1425173653.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df_encoded.groupby(age_bins)['chol'].mean().round(2))

In [19]:
# 3ï¸âƒ£ Åšrednie wartoÅ›ci ciÅ›nienia i cholesterolu w zaleÅ¼noÅ›ci od kraju pochodzenia
print("\n=== Åšrednie ciÅ›nienie i cholesterol w zaleÅ¼noÅ›ci od kraju ===")
country_cols = ['dataset_Hungary', 'dataset_Switzerland', 'dataset_VA Long Beach']
df_encoded['dataset_origin'] = df_encoded[country_cols].idxmax(axis=1).replace({
    'dataset_Hungary': 'Hungary',
    'dataset_Switzerland': 'Switzerland',
    'dataset_VA Long Beach': 'VA Long Beach'
})
df_encoded.loc[(df_encoded[country_cols] == False).all(axis=1), 'dataset_origin'] = 'Cleveland'
print(df_encoded.groupby('dataset_origin')[['trestbps', 'chol']].mean().round(2))

=== Åšrednie ciÅ›nienie i cholesterol w zaleÅ¼noÅ›ci od kraju ===
                trestbps    chol
dataset_origin
Cleveland         131.68  246.32
Hungary           132.59  247.19
Switzerland       130.24    0.00
VA Long Beach     133.31  178.73

In [21]:
print("\n=== Åšrednie tÄ™tno maksymalne (thalch) w zaleÅ¼noÅ›ci od pÅ‚ci ===")
print(df_encoded.groupby('sex_Male')['thalch'].mean().rename({True: "MÄ™Å¼czyÅºni", False: "Kobiety"}))

=== Åšrednie tÄ™tno maksymalne (thalch) w zaleÅ¼noÅ›ci od pÅ‚ci ===
sex_Male
Kobiety      146.135052
MÄ™Å¼czyÅºni    135.499225
Name: thalch, dtype: float64

In [22]:
# 5ï¸âƒ£ CzÄ™stoÅ›Ä‡ wystÄ™powania dÅ‚awicy wysiÅ‚kowej (exang) w zaleÅ¼noÅ›ci od pÅ‚ci
print("\n=== DÅ‚awica wysiÅ‚kowa (exang_True) w zaleÅ¼noÅ›ci od pÅ‚ci ===")
print(df_encoded.groupby('sex_Male')['exang_True'].mean().rename({True: "MÄ™Å¼czyÅºni", False: "Kobiety"}))

=== DÅ‚awica wysiÅ‚kowa (exang_True) w zaleÅ¼noÅ›ci od pÅ‚ci ===
sex_Male
Kobiety      0.221649
MÄ™Å¼czyÅºni    0.404959
Name: exang_True, dtype: float64

In [28]:
print("\n=== Korelacje miÄ™dzy wybranymi zmiennymi ===")
corr_cols = ['age', 'trestbps', 'chol', 'thalch', 'oldpeak']
print(df_encoded[corr_cols].corr().round(2))

=== Korelacje miÄ™dzy wybranymi zmiennymi ===
           age  trestbps  chol  thalch  oldpeak
age       1.00      0.24 -0.09   -0.35     0.25
trestbps  0.24      1.00  0.09   -0.10     0.16
chol     -0.09      0.09  1.00    0.24     0.05
thalch   -0.35     -0.10  0.24    1.00    -0.15
oldpeak   0.25      0.16  0.05   -0.15     1.00

In [26]:
if 'num' not in df_encoded.columns and 'num' in df.columns:
    df_encoded['num'] = df['num']

In [27]:
print("=== Åšredni wiek pacjentÃ³w z chorobÄ… i bez choroby, z podziaÅ‚em na pÅ‚eÄ‡ ===")

# Obliczamy Å›redni wiek pacjentÃ³w z chorobÄ… i bez choroby (num > 0 oznacza obecnoÅ›Ä‡ choroby)
age_by_sex_disease = df_encoded.groupby(['sex_Male', df_encoded['num'] > 0])['age'].mean().unstack()
age_by_sex_disease.columns = ['Brak choroby', 'Choroba serca']
age_by_sex_disease.index = ['Kobiety', 'MÄ™Å¼czyÅºni']
print(age_by_sex_disease.round(1))

# UdziaÅ‚ przypadkÃ³w choroby w kaÅ¼dej grupie pÅ‚ci
print("\n=== Odsetek osÃ³b z chorobÄ… serca w zaleÅ¼noÅ›ci od pÅ‚ci ===")
disease_rate_by_sex = df_encoded.groupby('sex_Male')['num'].apply(lambda x: (x > 0).mean())
disease_rate_by_sex.index = ['Kobiety', 'MÄ™Å¼czyÅºni']
print((disease_rate_by_sex * 100).round(1).astype(str) + '%')

=== Åšredni wiek pacjentÃ³w z chorobÄ… i bez choroby, z podziaÅ‚em na pÅ‚eÄ‡ ===
           Brak choroby  Choroba serca
Kobiety            51.2           56.2
MÄ™Å¼czyÅºni          50.2           55.9

=== Odsetek osÃ³b z chorobÄ… serca w zaleÅ¼noÅ›ci od pÅ‚ci ===
Kobiety      25.8%
MÄ™Å¼czyÅºni    63.2%
Name: num, dtype: object